<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="redis_connection_string" value="127.0.0.1:6379"/>
    <add key="redis_connection_pwd" value="lichen"/>
    <add key="redis_store_db" value="0"/>
    
  </appSettings>
</configuration>