
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @* 表单验证错误样式 *@
    <style type="text/css">
        label.error {
            color: red;
            font-family: '楷体'
        } 
    </style>

    <script type="text/javascript">
        $(function () {

            loadData();
        });
        function loadData()
        {
            $('#tt').datagrid({
                url: '/UserInfo/GetUserInfo',
                title: '用户数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载用户的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: {},//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'UName', title: '姓名', width: 120 },
                    { field: 'UPwd', title: '密码', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            //return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                            return getDateTime(ConvertJSONDateToJSDate(value));
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        deleteInfo();
                    }

                },
                    {
                        id: 'btnAdd',
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            addInfo();
                        }

                    }
                    , {
                        id: 'btnEdit',
                        text: '编辑',
                        iconCls: 'icon-edit',
                        handler: function()
                        {
                            editInfo();
                        }
                    }
                    , {
                        id: 'btnAssPer',
                        text: '分配权限',
                        iconCls: 'icon-edit',
                        handler: function () {
                            AssPer();
                        }
                    }, {
                        id: 'btnAssRole',
                        text: '分配角色',
                        iconCls: 'icon-edit',
                        handler: function () {
                            AssRole();
                        }
                    }
                ]


            });
        }
        //yyyy-MM-dd HH:mm:SS
        function getDateTime(date) {
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hh = date.getHours();
            var mm = date.getMinutes();
            var ss = date.getSeconds();
            return year + "-" + month + "-" + day /*+ " " + hh + ":" + mm + ":" + ss*/;
        }
        //调用的是这个方法
        function ConvertJSONDateToJSDate(jsondate) {
            var date = new Date(parseInt(jsondate.replace("/Date(", "").replace(")/", ""), 10));
            return date;
        }
        //删除数据
        function deleteInfo()
        {
            var rows = $('#tt').datagrid('getSelections');//获取选中的行
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择要删除的记录",
                    "error");
                return;

            }

            $.messager.confirm("提示", "确定要删除？", function (r) {
                if (r)
                {
                    //获取要删除记录的ID值
                    var rowsLength = rows.length;
                    var strId = "";
                    for (var i = 0; i < rowsLength; i++) {
                        strId = strId + rows[i].ID + ',';
                    }
                    //去掉最后一个逗号
                    strId = strId.substr(0, strId.length - 1);
                    //将要删除的Id发送到服务端
                    $.post("/UserInfo/DeleteUserInfo", { "strId": strId }, function (data) {
                        if (data == "ok")
                        {
                            $("#tt").datagrid('reload');//加载表格但不会跳转到第一页


                            //清除上次操作的历史记录
                            $("#tt").datagrid('clearSelections');
                        }
                        else
                        {
                            $.messager.alert("提醒", "删除记录失败！", "error");
                        }
                    });
                }
            })

        }
        //添加数据
        function addInfo()
        {

            $("#addDiv").dialog(
                {
                    closed: false
                }
            );
        }
        //完成添加后调用该方法
        function afterAdd(data)
        {
            if (data == "ok") {
                $('#addDiv').dialog('close');
                $('#tt').datagrid('reload');//加载表格不会跳到第一页
                $('#addForm input').val("");
            }
        }
        //校验表单
        function CheckForm(form)
        {
            form.validate({
                rules: {
                    UName: "required",
                    UPwd: {
                        required: true,
                        minlength: 5
                    },
                    Remark: "required",
                    Sort:"required"
                },
                messages: {
                    UName: "请输入用户名",
                    UPwd: {
                        required: "请输入密码",
                        minlength: "密码长度不能小于 5 个字母",

                    },
                    Remark: "请输入备注",
                    Sort:"请输入排序标准"
                }
            });

        }

          //判断用户是否选择了要修改的一行数据,并返回选中行的Id
        function LimitOneRow()
        {
            var rows = $('#tt').datagrid('getSelections');//获取选中的行
            if (rows.length < 1) {
                $.messager.alert("提示", "请重新选择数据行", "error");
                return;
            }
            if (rows.length > 1) {
                $.messager.alert("提示", "只能选中一行数据，请勿选择多行！", "error");
                return;
            }
           return rows[0].ID;
        }
        //编辑数据
        function editInfo()
        {
            //判断用户是否选择了要修改的一行数据
            //将要修改的数据查询出来，显示到相应的文本框中
            var id = LimitOneRow();//获取选中的行
            if (id == null)
            {
                return;
            }
            $.post("/UserInfo/ShowEditInfo", { "Id": id }, function (data) {
              
                    $("#txtUName").val(data.UName);
                    $("#txtUPwd").val(data.UPwd);
                    $("#txtRemark").val(data.Remark);
                    $("#txtSort").val(data.Sort);
                    $("#txtSubTime").val(data.SubTime);
                    $("#txtDelFlag").val(data.DelFlag);
                    $("#txtId").val(data.ID);
                
            });
            $("#editDiv").dialog(
                {
                    closed: false
                }
            );
        }
        //更新以后调用该方法
        function afterEdit(data)
        {
            if (data=="ok")
            {
                $("#editDiv").dialog('close');
                $("#tt").datagrid('reload');
            }
            else
            {
                $.messager.alert("提示", "更新失败", "error");
            }
        }
        //分配权限
        function AssPer() {
            var id = LimitOneRow();
            if (id == null)
            {
                return false;
            }
            $("#AssFrame").attr("src", "/UserInfo/ShowPermissions?id="+id);
            $("#AssPer").dialog(
                {
                    closed: false
                }
            );
        }
        //分配角色
        function AssRole()
        {
            var id = LimitOneRow();
            if (id == null) {
                return false;
            }
            $("#AssRoleFrame").attr("src", "/UserInfo/ShowRole?id=" + id);
            $("#AssRole").dialog(
                {
                    closed: false
                }
            );

        }
    </script>
</head>
<body>
    <div> 
        <table id="tt" style="width:700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
            </table>
    </div>
    <!----添加表单-->
        <div id="addDiv" class="easyui-dialog" title="添加用户数据" style="width:400px;height:200px;padding:10px;"
             data-options="
				iconCls: 'icon-add',
                modal:true,
                closed:true,
				toolbar: [{
					text:'Add',
					iconCls:'icon-add',
					handler:function(){
						
					}
				}
				],
				buttons: [{
					text:'Ok',
					iconCls:'icon-ok',
					handler:function(){
                       //校验表单
                        CheckForm($('#addForm'));
						$('#addForm').submit();//提交表单
					}
				},{
					text:'Cancel',
					handler:function(){
						$('#addDiv').dialog('close')
					}
				}]
			">
         @using (Ajax.BeginForm("AddUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm",name="addForm"}))
         {
                <table>
                    <tr><td>用户名</td><td><input type="text" name="UName"/></td></tr>
                    <tr><td>密码</td><td><input type="password" name="UPwd" /></td></tr>
                    <tr><td>备注</td><td><input type="text" name="Remark" /></td></tr>
                    <tr><td>排序</td><td><input type="text" name="Sort" /></td></tr>
                </table>
            }
        </div>
    <!----修改表单-->
    <div id="editDiv" class="easyui-dialog" title="编辑用户数据" style="width:400px;height:200px;padding:10px;"
         data-options="
				iconCls: 'icon-edit',
                modal:true,
                closed:true,
				toolbar: [{
					text:'Edit',
					iconCls:'icon-edit',
					handler:function(){

					}
				}
				],
				buttons: [{
					text:'Ok',
					iconCls:'icon-ok',
					handler:function(){
                       //校验表单
                        CheckForm($('#editForm'));
						$('#editForm').submit();//提交表单
					}
				},{
					text:'Cancel',
					handler:function(){
						$('#editDiv').dialog('close')
					}
				}]
			">
        @using (Ajax.BeginForm("EditUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "editForm", name = "editForm" }))
        {
            <input type="hidden" name="ID" id="txtId" />
            <input type="hidden" name="SubTime" id="txtSubTime" />
            <input type="hidden" name="DelFlag" id="txtDelFlag" />
            <table>
                <tr><td>用户名</td><td><input type="text" name="UName" id="txtUName" /></td></tr>
                <tr><td>密码</td><td><input type="text" name="UPwd" id="txtUPwd" /></td></tr>
                <tr><td>备注</td><td><input type="text" name="Remark" id="txtRemark" /></td></tr>
                <tr><td>排序</td><td><input type="text" name="Sort" id="txtSort" /></td></tr>
            </table>
        }
    </div>
    <!----分配权限表单-->
    <div id="AssPer" style="width:680px;height:400px;padding:10px;" class="easyui-dialog" title="为用户分配权限"
         data-options="
           modal:true,
           closed:true,
         maximizable:true,
         collapsible:true,
         minimizable:true,
         resizable:true
         ">
        <iframe id="AssFrame" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <!--分配角色表单-->
    <div id="AssRole" style="width:680px;height:400px;padding:10px;" class="easyui-dialog" title="为用户分配角色"
         data-options="
           modal:true,
           closed:true,
         maximizable:true,
         collapsible:true,
         minimizable:true,
         resizable:true
         ">
        <iframe id="AssRoleFrame" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</body>
</html>
