
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowRole</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 14px;
            line-height: 180%;
            padding-top: 20px;
        }
        /*总控制，可忽略此行*/
        table tr:first-child {
            background: #0066CC;
            color: #fff;
            font-weight: bold;
        }
        /*第一行标题蓝色背景*/
        table {
            border-top: 1pt solid #C1DAD7;
            border-left: 1pt solid #C1DAD7;
            margin: 0 auto;
        }

        td {
            padding: 5px 10px;
            text-align: center;
            border-right: 1pt solid #C1DAD7;
            border-bottom: 1pt solid #C1DAD7;
        }

        tr:nth-of-type(odd) {
            background: #c6f9f7
        }
        /* odd 标识奇数行，even标识偶数行 */
        tr:hover {
            background: #E0F0F0;
        }
        /*鼠标悬停后表格背景颜色*/
    </style>
    <script type="text/javascript">
        $(function () {
            bindClikCheckbox();//绑定点击复选框事件
        });
        function bindClikCheckbox()
        {
            $('.changeRole').click(function () {
                var userid =@ViewBag.userInfo.ID;
                var roleid = $(this).attr("id").split('-')[1];
                var value = $(this).attr("checked") == "checked" ? true : false;
                $.post("/UserInfo/ChangeRole", { "userid": userid, "roleid": roleid, "IsAllow": value }, function (data) {
                    if (data=="add")
                    {
                        $.messager.show({
                            title: '提示',
                            msg: '添加角色成功',
                            timeout: 5000,
                            showType: 'slide'
                        });
                    }
                    else if(data=="remove")
                    {
                        $.messager.show({
                            title: '提示',
                            msg: '删除角色成功',
                            timeout: 5000,
                            showType: 'slide'
                        });
                    }
                    else
                    {
                        $.messager.show({
                            title: '提示',
                            msg: '未知错误',
                            timeout: 5000,
                            showType: 'slide'
                        });
                    }
                });
            });
        }
    </script>
</head>
<body>
    <div>
        正在为用户
        <span style="font:14px;color:red;font-weight:bold">@ViewBag.userInfo.UName</span>分配角色
        <br />
        <table width='600' border='0' cellspacing='0' cellpadding='0' align='center'>
            <tr>
                <td>
                    分配角色
                </td>
                <td>
                    编号
                </td>
                <td>
                    角色名称
                </td>
            </tr>
            @{
                foreach (var role in ViewBag.role)
                {
                    var IsExt = false;
                    <tr>
                        <td>
                            @{
                                foreach (var roleId in ViewBag.userRoleId)
                                {
                                    if (role.ID == roleId)
                                    {
                                        IsExt = true;
                                    }
                                }
                                if (IsExt)
                                {
                                    <input type="checkbox" class="changeRole" id="cb-@role.ID" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" class="changeRole" id="cb-@role.ID" />

                                }
                            }

                        </td>
                        <td>
                            @role.ID
                        </td>
                        <td>
                            @role.RoleName
                        </td>
                    </tr>

                                }
            }
        </table>
    </div>
</body>
</html>
